body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Helvetica Neue';
  background: #000;
}

.Input{
  margin-top: 150px;
}

.heading{
  font-weight: 100;

}

.myInput{
  font-family: 'Helvetica Neue';
  border: 0;
  border-radius: 5px;
  background-color: #fefefe;
  padding: 10px;
  margin: 10px;
}

.button{
  font-family: 'Helvetica Neue';
  border-radius: 5px;
  border: 0;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  width: auto;
}

.hidden{
  opacity: 0;
}

.MyTable{
  width: 50%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
}

.tableHeading{
  background-color: #fff;
  color: #000;
}

td{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #fff;
}

span{
  color: #f33;
}

.footer{
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: lighter;
  margin-bottom: 20px;
  position: relative;
}
